/* Project Card Styles */
.project-card {
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px; /* Adjust the max-width as needed */
    text-align: center;
    transition: transform 0.4s ease-in-out;
    margin-bottom: 20px;
  }
  
  .project-card:hover {
    transform: translateY(-15px);
  }
  
  .project-image {
    max-width: 100%;
    height: auto;
  }
  
  .project-title {
    font-size: 1.5rem;
    margin-top: 12px;
     padding: 5px;
    color:white;
  }
  
  .project-description {
    margin-top: 8px;
    color: white;
  }
  
  .project-langs {
    margin-top: 12px;
    padding: 10px;
    
   
  }
  
  .lang-tag {
    background-color: #c778dd;
    color: white;
    padding: 4px 8px;
    margin-right: 4px;
    border-radius: 4px;
    font-size: 0.875rem;
    display: inline-block;
  }
  