/* Contact.css */

/* The outer container */
.contact-container {
    margin: 0 auto;
    max-width: 1560px;
    padding-bottom: 4rem;
    margin-bottom: 4rem;
    margin-top: 8rem;
  }
  
  /* Top section */
  .top-container {
    margin: 1rem;
    /* Add styles for the top section here */
  }
  
  /* Header section */
  .header-container {
    /* Add styles for the header section here */
    margin-bottom: 1rem;
  }
  
  .title-container {
    display: flex;
    align-items: center;
    gap: 2px;
  }
  
  .title-prefix {
    color: #C778DD;
  }
  
  .title-text {
    font-weight: bold;
    font-size: 32px;
  }
  
  .title-line {
    width: 33.33333%;
    height: 1px;
    background-color: #C778DD;
  }
  
  /* Bottom section */
  .bottom-container {
    display: flex; /* Corresponds to flex */
    flex-wrap: wrap; /* Corresponds to flex-wrap */
    align-items: center; /* Corresponds to items-center */
    justify-content: space-between; 
  }
  
  /* Left section */
  .left-container {
    color: #ABB2BF;
    font-size: 18px;
    margin-left: 1rem;
    width: 48%;

  }
  
  .description-text {
    color: #ABB2BF;
    margin-left: 2rem;
  }
  
  /* Right section */
  .right-container {
    margin: 0 auto;
    /* Add styles for the right section here */
  }
  
  /* Box section */
  .box-container {
    border: 1px solid #ABB2BF;
    padding: 16px;
    margin: auto;
    margin-top: 1rem;;
  }
  
  .box-title {
    margin-bottom: 16px;
    color: white;
    font-weight: bold;
  }
  
  /* Get in touch section */
  .get-in-touch {
    
  }
  
  /* Links section */
  .link-container {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  
  
  .link-text {
    color: #ABB2BF;
  }
  