.box {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    max-width: 1530px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.top {
    margin-bottom: 10px;
}

.head {
    color: white;
    font-weight: 500;
    font-size: 32px;
    display: flex;
 
}



.line {
    margin: auto;
    height: 1px;
    background-color: #C778DD;
}



.body {
    display: flex; /* Corresponds to flex */
    flex-wrap: wrap; /* Corresponds to flex-wrap */
    gap: 1.25rem; /* Corresponds to gap-10 */
    justify-content: space-between; /* Corresponds to justify-between */
    align-items: center; /* Corresponds to items-center */
    color: white; /* Corresponds to text-white */
}


.left {
    margin : auto;
    width : 40%
}


.right {
   
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap; 
    width:80%;
    max-width: 50%; 
    gap: 1rem; 
    
   
}

@media (min-width: 768px) {
    .right {
      justify-content: flex-end; /* Corresponds to md:justify-end */
      max-width: 50%; /* Corresponds to md:w-1/2 */
    }
  }

.outer {
    width: 40%; 
    border: 1px solid #ABB2BF; 
    
}



/* Media Query for sm (assuming a breakpoint of 640px) */
@media (min-width: 640px) {
    .outer {
      width: 45%; /* Corresponds to sm:w-[45%] */
    }
  }
  
  /* Media Query for lg (assuming a breakpoint of 1024px) */
  @media (min-width: 1024px) {
    .outer {
      width: 30%; /* Corresponds to lg:w-[30%] */
    }
  }



.section {
    padding: 0.5rem;
    
}


.items{
    display: flex; 
    gap: 0.5rem; 
    border-top: 1px solid #ABB2BF; 
    flex-wrap: wrap; 
    padding: 0.5rem 0.5rem; 
    color: #ABB2BF;
    font-size: 18px;
}