.about-box {
    max-width: 1560px;
    margin-top: 12rem;
    margin-left: auto;
    margin-right: auto;


}


.about-head {

    color: white;
    font-size: 32px;
    margin-left: auto;
    margin-right: auto;

}


.about-body {
    display: flex;
    margin: 3rem auto;
    justify-content: space-between;

}


.about-left {
    margin-top: 4rem;
    width: 50%;

}


.about-right {
    
    width: 30%;

}


.about-text {
    margin-top: 3rem;
    color: #ABB2BF;
    font-size: 18px;
    margin-left: 1rem;
}