/* Navbar styles */
.navbar {
  background-color: #282c33;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar.open {
  transform: translateX(100%);
}

.top {
  padding-left: 1.25rem; /* Equivalent to px-5 */
  padding-right: 1.25rem; /* Equivalent to px-5 */
  max-width: 1560px; /* Equivalent to max-w-[1560px] */
  margin-left: auto; /* Equivalent to mx-auto */
  margin-right: auto; /* Equivalent to mx-auto */
  display: flex; /* Equivalent to flex */
  align-items: center; /* Equivalent to items-center */
  justify-content: space-between; /* Equivalent to justify-between */
  padding-top: 1.5rem; /* Equivalent to pt-6 (6 * 0.25rem) */
  margin-top: 0.5rem; /* Equivalent to my-2 (2 * 0.25rem) */
}

.top img {
  width: 10%;
}

.name {
  float: left;
  display: flex;
  margin-left: 0.5rem;
  align-items: center;
  font-weight: bold;
  color: white;
  font-size: 1.5rem;
}

.menu {
  float: right;
  display: flex;
  align-items: center;
}

.media {
  transition-duration: 300ms;
  flex-direction: column;
  justify-content: center;
  display: flex;
  position: fixed;
  width: 100%;
  background-color: #282c33;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #282c33;
  position: fixed;
  right: -100%;
  top: 0;
  bottom: 0;
  transition: right 0.3s;
}

.custom-li {
  color: #abb2bf;
  font-size: 18px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  list-style: none;
}

.sp-li {
  color: #c778dd;
  font-weight: medium;
}
